.p-button {
  background-color: transparent !important;
  border: none !important;
  color: white;
  .p-button-label {
    color: black;
  }
}
.background {
  background-image: url(../../assets/1.jpg);
}
